<section id="elsewhere">
<h3>Follow me:</h3>
<ul id="socialize">
<li class="github"><a href="https://github.com/jianweiguo" rel="me" title="Me on Github" target="_blank">
	<img src="/img/social/github.png" alt="Me on Github" />
</a></li><li class="LinkedIn"><a href="http://cn.linkedin.com/pub/jianwei-guo/42/542/4b2" rel="me" title="Me on LinkedIn" target="_blank">
	<img src="/img/social/linkedin.png" alt="Me on LinkedIn" />
</a></li>
</a></li><li class="ResearchGate"><a href="https://www.researchgate.net/profile/Jianwei_Guo6" rel="me" title="Me on ResearchGate" target="_blank">
	<img src="/img/social/ResearchGate.png" alt="Me on ResearchGate" />
</a></li>
</ul>
</section>
